<div class="wrapper">
    <form (ngSubmit)="onSubmitTemplateForm()">
        <h3>Template driven form</h3>
        <input name="name" placeholder="Enter your name" type="text" [(ngModel)]="name">
        <app-chip-input name="languages" [options]="chip1Options" [question]="chip1Question" [(ngModel)]="languages">
        </app-chip-input>
        <button type="submit">Submit</button>
    </form>

    <form [formGroup]="reactiveForm" (ngSubmit)="onSubmitReactiveForm()">
        <h3>Reactive form</h3>
        <input type="text" placeholder="Where are you from?" name="country" formControlName="birthplace">
        <app-chip-input [options]="chip2Options" [question]="chip2Question" formControlName="countries">
        </app-chip-input>
        <button type="submit">Submit</button>
    </form>
</div>