.wrapper {
    flex-direction: column;
    display: flex;

    h3 {
        margin-bottom: 10px;
    }

    form {
        flex-direction: column;
        display: flex;
        width: 30%;
        min-width: 300px;
        max-width: 400px;
        padding: 20px;
        font-size: 0.8em;

        input {
            border: 1px solid grey;
            border-radius: 3px;
            outline: none;
            padding: 5px;
            font-size: inherit;
        }

        app-chip-input {
            margin-top: 10px;
            border: 1px solid grey;
            border-radius: 3px;
            padding: 5px;
        }

        button {
            margin-top: 10px;
        }
    }
}
